# Exclude everything by default. Re-include only files consumed by Dockerfile.
# In particular, this keeps docker/.local/ and its staged license out of images.
**

!.dockerignore
!LICENSE
!air_traffic_scenario.json

!requirements/
!requirements/connext_dds.txt
!requirements/grpc.txt

!connext_dds/
!connext_dds/air_traffic_qos.xml
!connext_dds/python/
!connext_dds/python/*.py
!connext_dds/scripts/
!connext_dds/scripts/demo_cli.py
!connext_dds/scripts/demo_start.sh

!grpc/
!grpc/python/
!grpc/python/*.py
!grpc/scripts/
!grpc/scripts/demo_cli.py
!grpc/scripts/demo_start.sh

!docker/
!docker/Dockerfile
!docker/docker-entrypoint.sh
